@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alisher Navoi Prospect<br />
    Kiev<br />
    <abbr title="Phone">P:</abbr>
    +380 (99) 086 24 29
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:duff1994@gmail.com">duff1994@gmail.com</a><br />
</address>